<div class="modal fade" tabindex="-1" role="dialog" id="how-toModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">How to Use this Site</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>There are a few conventions used on this site to make navigating through it quicker and easier.</p>
        <ul>
          <li><button class="btn btn-success">A button like this</button> opens a tutorial module card that will give step by step instructions. Clicking on the button again closes the module.</li>
          <li><a href="#">A link like this<sup><i class='fas fa-question-circle'></i></sup></a> opens a card that explains a key term. There are likely tutorial modules embedded in that explanation. Clicking on the link also closes the card.</li>
          <li><i class='apple-toggler fab fa-apple'></i> | <i class='win-toggler text-muted fab fa-windows'></i></span> signals that the following content is operating system–specific. Clicking on the icon appropriate to your system tailors the instructions appropriately. The darker icon is the currently active one.
          <li><kbd>Keys</kbd> like this signal keyboard commands to type, all at once. On a Mac, <kbd>cmd</kbd> is the key labeled “command” and “&#8984;.”</li>
          <li><code>Text like this</code>, however, is text to be typed in, not all at once. It can also refer to file names.</li>
          <li> <p>Sometimes tutorials include text that</p>
{% highlight shell linenos %}
looks like this
{% endhighlight %}
This indicates either a series of commands or commands to type into the terminal.</li>
</ul>

<p>Hopefully this is sufficient to lead you to plain text success.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
