<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="navbar" data-margin="20">
  <a href="/" class="navbar-brand">
    <!-- <img class="brand-img img-circle" alt="PPT" src="/apple-touch-icon.png"> -->
    <span id="brand-name-small">PlainPlainTxt</span>
    <span id="brand-name-big">Plain Plain Text</span>
  </a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul id="navList" class="navbar-nav mr-auto">
      <!-- <li class="nav-item"> -->
      <!--   <a href="#" class="nav-link">What Is?</a> -->
      <!-- </li> -->
      <li class="nav-item">
        <a href="/about" class="nav-link">About</a>
      </li>
    </ul>
    <span class="navbar-text">Using:
      <span id="master-os" data-os="apple">
        <i class="apple-toggler fab fa-apple"></i> | 
        <i class="win-toggler text-muted fab fa-windows"></i>
      </span>
    </span>
  </div>
</nav>
