@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$columbia-blue: #B9D9EB;
$darker-blue: #012169;

body {
  font-family: "Ubuntu Mono", "Monaco", monospaced;
  font-size: 1.25rem;
  background-color: $columbia-blue;
  color: $darker-blue;
}

