{% include header.html %}
<body>
{% include navbar.html %}
  <div id="main" class="container">
    <div class="row">
      <article class="container" id="content">
      <!-- {% if page.installers %} -->
      <!-- <div> -->
      <!--   <h2> Required Installers for this Tutorial</h2> -->
      <!--   <div class="row"> -->
      <!--     {% assign installers = page.installers | split: " " %} -->
      <!--     {% for installer in installers %} -->
      <!--     <div class="col"> -->
      <!--       <h4 module="install/{{installer}}">Install {{ installer | capitalize }}</h4> -->
      <!--     </div> -->
      <!--     {% endfor %} -->
      <!--   </div> -->
      <!-- </div> -->
      <!-- {% endif %} -->
      <!-- <article id="content" class="col-md-8"> -->
      {{ content }}
      </article>
      <!-- <aside class="col-md-4"> -->
      <!--   {% include asides/whatis.html %} -->
      <!-- </aside> -->
    </div>
  </div>
  {% include modals/how-to.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>
