<div class="row">
  <div class="col-md-9">
  {{ content }}
  </div>
  <div class="justify-content-end col-md-3">
    <div class="btn-group-vertical w-100" role="group" aria-label="Buttons for links">
      {% assign btnclasses = "btn btn-primary btn-block" %}
      {% if page.official-site %}
      <a role="button" href="http://{{ page.official-site }}" class="{{ btnclasses }}">{{ page.official-site | truncate: 15 }}</a>
      {% endif %}
      {% if page.wikipedia-title %}
      <a role="button" href="http://en.wikipedia.org/wiki/{{ page.wikipedia-title }}" class="{{ btnclasses }}"><i class="fab fa-wikipedia-w"></i> {{ page.wikipedia-title }}</a>
      {% endif %}
    </div>
  </div>
</div>
